Repository knmlprz/corona-analysis-1, pull requests merged in 2021-09, with the labels that each got.

#75 Analysis of data
  img/dane_marzec.png
  img/dane_marzec_porownanie.png
  img/fazy_porownanie.png
  img/fazy_w_czasie.png
  img/mobilnosc_infekcje_rekomendacje_rzadu.png
  img/working_with_jupyter.png
  img/zar.png
  img/zar_woj.png
  notebooks/Analiza.ipynb
  presentation.md
Labels: enhancement, presentation

#73 Describe API usage
  img/zar.png
  presentation.md
Labels: presentation

#74 Create summary
  img/exp.png
  img/gazetka.png
  presentation.md
Labels: presentation

#51 Create presentation
  img/exp.png
  img/gazetka.png
  presentation.md
Labels: documentation, help wanted, presentation

#77 Presentation notebook
  img/dane_marzec.png
  img/dane_marzec_porownanie.png
  img/fazy_porownanie.png
  img/fazy_w_czasie.png
  img/mobilnosc_infekcje_rekomendacje_rzadu.png
  img/slask_exp.png
  img/zar_woj.png
  notebooks/Presentation.ipynb
Labels: enhancement
